@import 'normalize.css';


.lista li:last-child{
    background-color: rgb(15, 15, 247);
    border: 1px solid black;

}
.lista li:nth-child(odd) {
    text-decoration: underline green;

}

.lista {
    display: inline-flex;
    list-style: none;

}

.lista li {
    padding: 10px;
       
}
.lista li:nth-child(1)::after {
    content: '😁';

}
.lista li:nth-child(2)::after {
    content: '🎃';

}
.lista li:nth-child(3)::after {
    content: '👤';

}
.lista li:nth-child(4)::after {
    content: '👺';

}
.lista li:nth-child(5)::after {
    content: '🦴';

}
.lista li:nth-child(6)::after {
    content: '💔';

}

.lista li:nth-child(4) {
    font-size: 200%;
    text-transform: uppercase;
}

#provincias {
    list-style: upper-roman;
}
    
#provincias li:nth-child(2) {
    list-style: initial;
}
