@import 'normalize.css';

form {
    width: 100%;
    max-width: 800px;
    min-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:required {
    border: 1px solid red;
}

input {
    background-color: gray;
    padding: 1rem;
}

input:hover {
    background-color: rgb(152, 156, 152);
    /* color: rgb(152, 156, 152); */
}

.border input{
    border-bottom: 5px solid black;

}

button {
    background-color: black;
    color: white;
    border: none;
}